* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: #adcce9;
}

.main-container {
    position: relative;
    height: 120vh;
}

.testing {
    position: absolute;
    width: 40%;
    height: 500px;
    background-color: white;
    padding: 50px 30px;
    top: 70px;
    left: 150px;
    animation: testing-move 1s;
}

@keyframes testing-move {
    0% {
        left: -600px;
        opacity: 0;
    }
    100% {
        top: 70px;
        left: 150px;
        opacity: 1;
    }
}

.testing h1 {
    font-size: 59px;
    font-weight: bolder;
    width: 400px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#long-text {
    width: 400px;
    padding: 20px 0;
}

.testing p a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.testing button {
    margin-top: 30px;
    background-color: #478ac9;
    color: white;
    border: none;
    width: 180px;
    height: 50px;
    letter-spacing: 2px;
    font-size: 16px;
}

.team img {
    position: absolute;
    width: 19%;
    height: 200px;
    object-fit: cover;
    top: 600px;
    left: 460px;
    animation: team-move 2s;
}

@keyframes team-move {
    0% {
        top: 800px;
        transform: scale(0);
    }
    50% {
        top: 800px;
        transform: scale(0);
    }
    100% {
        top: 600px;
        transform: scale(1);
    }
}

.laptop img {
    position: absolute;
    width: 19%;
    height: 200px;
    object-fit: cover;
    top: 70px;
    left: 770px;
    animation: laptop-move 3s;
}

@keyframes laptop-move {
    0% {
        top: -200px;
        transform: scale(0);
    }
    33.33% {
        top: -200px;
        transform: scale(0);
    }
    66.66% {
        top: -200px;
        transform: scale(0);
    }
    100% {
        top: 70px;
        transform: scale(1);
    }
}

.girls img {
    position: absolute;
    width: 40%;
    height: 400px;
    top: 300px;
    left: 760px;
    animation: girls-move 4s;
}

@keyframes girls-move {
    0% {
        top: 900px;
        opacity: 0;
    }
    25% {
        top: 900px;
        opacity: 0;
    }
    50% {
        top: 900px;
        opacity: 0;
    }
    75% {
        top: 900px;
        opacity: 0;
    }
    100% {
        top: 300px;
        opacity: 1;
    }
}