*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fixed{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f2f2f2;
    position: fixed;
    width: 100%;
}
.fixed i{
    font-size: 28px;
}
.screen-sizes{
    display: flex;
    gap: 27px;
}
.screen-sizes i:hover{
    background-color: rgb(170, 211, 227);
    padding: 5px;
}
.navbar{
    text-align: center;
    padding: 90px 0 20px 0;
    font-size: 25px;
}
.recipes-container {
    background-image: url(./pictures/bg\ pic.jpeg);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center -220px;
    color: white;
    text-align: center;
    padding: 70px;
    background-repeat: no-repeat;
}
.recipes-container h5{
    font-size: 20px;
}
.recipes-container h1{
    font-size: 60px;
    padding: 20px;
}
.recipes-container button{
    border: none;
    background-color: #f1c50e;
    color: white;
    border-radius: 25px;
    width: 140px;
    height: 45px;
    margin-top: 30px;
    font-size: 18px;
}
.products-container{
    text-align: center;
    padding: 60px;
}
.products-container h5{
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 20px;
}
.products-container h2{
    font-size: 36px;
}
.products-item img{
    width: 55px;
    background-color: #2cccc4;
    border-radius: 50%;
    padding: 10px;
}
.products{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
   padding-top: 50px;
    width: max-content;
    margin: 0 auto;
}
.products-item h4{
    font-weight: 100;
    font-size: 20px;
    padding: 20px;
}
.products-item p{
    width: 250px;
    margin: 0 auto;
}
.products-container button{
        border: none;
        background-color: #f1c50e;
        color: white;
        border-radius: 25px;
        width: 140px;
        height: 45px;
        margin-top: 30px;
        font-size: 18px;
}
.company-container{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #2cccc4;
    padding: 100px 0;
    height: 560px;
}
.company-img img{
    width: 500px;
}
.company-about button{
    border: none;
        background-color: #f1c50e;
        color: white;
        border-radius: 25px;
        width: 140px;
        height: 45px;
        margin-top: 30px;
        font-size: 18px;
}
.company-about h5{
    font-size: 20px;
    font-weight: 100;
}
.company-about h2{
    font-size: 36px;
    width: 500px;
    padding: 30px 0;
}
#company-text{
    width: 500px;
    line-height: 1.75;
    padding-bottom: 30px;
}
.contact-container{
    background-color: #f1c50e;
    height: 300px;
    color: white;
    text-align: center;
    padding: 80px;
}
.contact-container h1{
    font-size: 36px;
}
.contact-container button{
    border: none;
    font-size: 18px;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    margin: 50px;
    letter-spacing: 2px;
}
